@model BookARoom.Infra.Web.ViewModels.ReservationsViewModel
@{
    ViewData["Title"] = "Pick your best booking option";
}
<br />
<h2>Reservations made with "<strong>@Model.ClientEMail</strong>"</h2>

@if (!Model.Reservations.Any())
{
    <br />
    <br />
    <strong>No reservation has been made with that e-mail so far.</strong>
    <br />
    <br />
    <a href="~/QueryReservations/" class="button">Let me try with another mail</a>
    <br />
    <br />
    <br />
}
else
{
    <br />
    <a href="~/QueryReservations/" class="button">Let me try with another mail</a>
    <br />
    <br />
    <br />
    <script>
        //function postFormFor(hotelIdentifier, hotelName, roomIdentifier) {

        //    document.forms["bookingForm"].HotelId.value = hotelIdentifier;
        //    document.forms["bookingForm"].HotelName.value = hotelName;
        //    document.forms["bookingForm"].RoomId.value = roomIdentifier;

        //    document.forms["bookingForm"].submit();
        //}

        function cancelBooking(guid) {
            alert("cancel booking for '" + guid + "'");
        }
    </script>
    <form id="reservationsForm" method="post" action="ModifyReservation">

        <input asp-for="@Model.ClientEMail" type="hidden" name="ClientEMail" value="@Model.ClientEMail" />
        
        <table>
            <tr>
                <th>Hotel name</th>
                <th>Hotel Id</th>
                <th>Room code</th>
                <th>check-in date</th>
                <th>check-out date</th>
                <th></th>
            </tr>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td><strong>@reservation.HotelName</strong></td>
                    <td>@reservation.HotelId</td>
                    <td>@reservation.RoomNumber</td>
                    <td>@reservation.CheckInDate.ToString("d")</td>
                    <td>@reservation.CheckOutDate.ToString("d")</td>
                    <td>
                        @*<a href="" class="button" onclick="cancelBooking('@reservation.Guid'); return false;">Cancel</a>*@
                    </td>
                </tr>
            }
        </table>
    </form>
}
