@model BookARoom.Infra.Web.ViewModels.BookingOptionsViewModel
@{
    ViewData["Title"] = "Pick your best booking option";
}
<br/>
<h2>You would like to go to: "<b>@Model.SearchCriterias.Destination</b>"</h2>
and to book a room <b>for @Model.SearchCriterias.NumberOfAdults adult(s)</b> with check-in date: <b>@Model.SearchCriterias.CheckInDate.ToString("d")</b> and check-out date: <b>@Model.SearchCriterias.CheckOutDate.ToString("d")</b> <br />

@if (!Model.Options.Any())
{
    <br />
    <br />
    <strong>Sorry, we couldn't find any available room for your criteria.</strong>
    <br />
    <br />
    <a href="" class="button" onclick="history.back(); return false;">Ok, let me change my criteria</a>
    <br />
    <br />
    <br />
}
else
{
    <br />
    <a href="" class="button" onclick="history.back(); return false;">Oups, let me change something.</a>
    <br />
    <br />
    <br />
    <div>Here is the list of all available booking options for you. Just click the button to book-a-room!</div>
    <br />
    <script>
        function postFormFor(hotelIdentifier, hotelName, roomIdentifier) {

            document.forms["bookingForm"].HotelId.value = hotelIdentifier;
            document.forms["bookingForm"].HotelName.value = hotelName;
            document.forms["bookingForm"].RoomId.value = roomIdentifier;

            document.forms["bookingForm"].submit();
        }
    </script>
    <form id="bookingForm" method="post" action="BookingRequest">
        
        <input asp-for="@Model.BookingRequest.CheckInDate" type="hidden" name="CheckInDate" value="@Model.SearchCriterias.CheckInDate"/>
        <input asp-for="@Model.BookingRequest.CheckOutDate" type="hidden" name="CheckOutDate" value="@Model.SearchCriterias.CheckOutDate"/>
        
        <input asp-for="@Model.BookingRequest.HotelId" type="hidden" name="HotelId" value=""/>
        <input asp-for="@Model.BookingRequest.HotelName" type="hidden" name="HotelName" value=""/>
        <input asp-for="@Model.BookingRequest.RoomId" type="hidden" name="RoomId" value=""/>

        <table>
            <tr>
                <th>Hotel name</th>
                <th>Room code</th>
                <th>One adult<br/>occupancy price</th>
                <th>Two adults<br/>occupancy price</th>
                <th>Book</th>
            </tr>
            @foreach (var bookingOption in Model.Options)
            {
                @foreach (var availableRoomsWithPrice in bookingOption.AvailableRoomsWithPrices)
                 {
                     <tr>
                         <td><strong>@bookingOption.Hotel</strong></td>
                         <td>@availableRoomsWithPrice.RoomIdentifier</td>
                         <td>@availableRoomsWithPrice.OneAdultOccupancyPrice</td>
                         <td>@availableRoomsWithPrice.TwoAdultsOccupancyPrice</td>
                         <td>
                             <a href="" class="button" onclick="postFormFor('@bookingOption.Hotel.Identifier', '@bookingOption.Hotel.Name', '@availableRoomsWithPrice.RoomIdentifier'); return false;">Book that room!</a>
                         </td>
                     </tr>
                 }
            }
        </table>
    </form>
}
