@model BookARoom.Infra.Web.ViewModels.BookingProposalsViewModel
@{
    ViewData["Title"] = "Pick your booking proposal";
}

TADA! Here is the list of all proposals for booking.
<br />
Location = "@Model.Location"
<br />
<table>
    @foreach (var bookingProposal in Model.Proposals)
    {
        <tr>
            <td>@bookingProposal.Hotel</td>
            <td>
                <table>
                    @foreach (var availableRoomsWithPrice in bookingProposal.AvailableRoomsWithPrices)
                    {
                        <tr>
                            <td>@availableRoomsWithPrice.RoomIdentifier</td>
                            <td>@availableRoomsWithPrice.PriceForOneAdult</td>
                            <td>@availableRoomsWithPrice.PriceForTwoAdults</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
