@model BookARoom.Infra.Web.ViewModels.BookingProposalsViewModel
@{
    ViewData["Title"] = "Pick your best booking option";
}


<br/>
<h2>You would like to go to: <b>@Model.SearchCriterias.Destination</b></h2>
and to book a room <b>for @Model.SearchCriterias.NumberOfAdults adult(s)</b> with check-in date: <b>@Model.SearchCriterias.CheckInDate.ToString("d")</b> and check-out date: <b>@Model.SearchCriterias.CheckOutDate.ToString("d")</b> <br />
<br/>
Here is the list of all available booking options for you. Just click the button to book-a-room!
<br/>
<table>
    <tr>
        <th>Hotel name</th>
        <th>Room code</th>
        <th>One adult occupancy price</th>
        <th>Two adults occupancy price</th>
    </tr>
    @foreach (var bookingProposal in Model.Proposals)
    {
        @foreach (var availableRoomsWithPrice in bookingProposal.AvailableRoomsWithPrices)
         {
             <tr>
                 <td>@bookingProposal.Hotel</td>
                 <td>@availableRoomsWithPrice.RoomIdentifier</td>
                 <td>@availableRoomsWithPrice.OneAdultOccupancyPrice</td>
                 <td>@availableRoomsWithPrice.TwoAdultsOccupancyPrice</td>
             </tr>
         }
    }
</table>
