@model BookARoom.Infra.Web.ViewModels.BookingRequestViewModel
@{
    ViewData["Title"] = "Book your room";
}

<br /><br />
<h2>Please, fill your e-mail in order to be able to book the following reservation:</h2>

<form method="post" action="BookingConfirmation">
    <br />
    <br />
    Email: <input asp-for="ClientMail" type="email" name="ClientMail" /><br />
    <br />
    <br />
    <h2>Booking request sum-up:</h2>
    Hotel: <strong> @Model.HotelName</strong>
    <input asp-for="HotelName" type="hidden" name="HotelName" value="@Model.HotelName" />
    <input asp-for="HotelId" type="hidden" name="HotelId" value="@Model.HotelId" />
    <br />
    Room code: <strong>@Model.RoomId</strong>
    <input asp-for="RoomId" type="hidden" name="RoomId" value="@Model.RoomId" />
    <br />
    <br />
    Check-in date: <strong>@Model.CheckInDate.ToString("d")</strong>
    <input asp-for="CheckInDate" type="hidden" name="CheckInDate" value="@Model.CheckInDate" />
    <br />
    Check-out date: <strong>@Model.CheckOutDate.ToString("d")</strong>
    <input asp-for="CheckOutDate" type="hidden" name="CheckOutDate" value="@Model.CheckOutDate" />
    <br />
    <br />
    <input type="submit" value="Confirm booking" />
</form>